<!DOCTYPE html>
<html lang="es">
{% load static %}
<head>
  <link rel="stylesheet" href="{% static 'css/estilo.css' %}"/>
    {% include 'common/head.html' %}
</head>
<body>
    
    {% include 'common/header.html' %}
    <div class="container-fluid p-0" style="background-color: white;">
      <div class="container-sm pb-0 pt-0 pe-0 ps-0 pe-lg-3 ps-lg-3 pb-sm-3">
        
        <div class="container mt-2 p-0" style="box-shadow: 1px 1px 4px 2px black;">
          <div id="carrusel" class="carousel slide" data-bs-ride="carousel" pause="true">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carrusel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1">
              </button>
              <button type="button" data-bs-target="#carrusel" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carrusel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="{% static 'img/c1.png' %}" class="d-block carruselSlideImg" alt="Imagen 1 Carrusel">
                <div class="carousel-caption d-none d-md-block">
                  <!--FigCaption del carrusel slide 1-->
                </div>
              </div>
              <div class="carousel-item">
                <a href="/registrarse"><img src="{% static 'img/c2.png' %}" class="d-block carruselSlideImg" alt="Imagen 2 Carrusel"></a>
                <div class="carousel-caption d-none d-md-block">
                  <!--FigCaption del carrusel slide 2-->
                </div>
              </div>
              <div class="carousel-item">
                <img src="{% static 'img/c3.png' %}" class="d-block carruselSlideImg" alt="Imagen 3 Carrusel">
                <div class="carousel-caption d-none d-md-block">
                  <!--FigCaption del carrusel slide 3-->
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carrusel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carrusel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        
        <div class="container justify-content-center text-light border mt-2 border-top-0" id="seccionTexto">
          <br>
          <br>
          <h1 class="h1 ps-lg-4 d-block text-center text-decoration-underline textoAbout">Variedad de programas académicos</h1>
          <p class="text-center d-block textoAbout" style="font-size: 19px">Duoc UC es reconocido por su amplia oferta de programas académicos en diversas áreas de estudio. En la sede de Maipú, encontrarás una selección de carreras y programas técnicos especializados que se adaptan a diferentes intereses y necesidades.</p>
          <hr style="padding: 1px;">
          <br>
          <h2 class="h4 pt-3 d-block textoAbout text-center">Infraestructura y recursos modernos</h2>
          <p class="ms-lg-5 ps-lg-5 me-lg-5 pe-lg-5 pt-2 pt-lg-2 textoAbout text-center">La sede Maipú de Duoc UC cuenta con instalaciones modernas y bien equipadas. Podrás disfrutar de aulas espaciosas, laboratorios actualizados y recursos tecnológicos de vanguardia que facilitarán tu proceso de aprendizaje. Además, la institución brinda acceso a bibliotecas, centros de estudio y otros servicios que contribuirán a tu formación integral.</p>
          <br>
          <blockquote class="ms-lg-5 ps-lg-5 me-lg-5 pe-lg-5 textoAbout text-center">
        <h2>Vinculación con el mundo laboral</h2></span> Duoc UC se destaca por su enfoque práctico y su estrecha relación con el mundo laboral. La institución tiene convenios y alianzas estratégicas con empresas y organizaciones relevantes en diferentes sectores, lo que brinda a los estudiantes oportunidades de prácticas profesionales, pasantías e incluso posibilidades de empleo al graduarse.
          </blockquote>
          <br>
          
        </div>
      </div>
    </div>	
    

    {% include 'common/footer.html' %}

    {% include 'common/scripts.html' %}

</body>
</html>