<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
    {% include 'common/head.html' %}
    
    <style>
        body {
            background-image:url({% static 'img/stringio.jpg' %});
            background-size: cover;
            height: 100%;
            overflow: hidden;
            padding: 0;
            margin: 0;
        }
        #log{
            height: 11%;
            width: 11%;
        }
           
    </style>
</head>
<body>
    <img id="log" src="{% static 'img/Logo_DuocUC.png' %}">
    <div id="container-center">

        <div id="caja" class="form-group">
            <h1 style="font-size: 32px;">Iniciar sesión</h1>
            {% if error %}
            <div style="background-color: tomato; color: white; border-radius: 10px; margin-bottom: 1rem;">
                <p class="text-center p-1 m-1">Las credenciales ingresadas no son correctas</p>
            </div>
            {% endif %}
            <form action='/login/' method="POST">
                {% csrf_token %}
                <label for="correo" class="label">Correo electrónico:</label>
                <input type="text" class="form-control" id="correo" name="correo" required>
                <br>
                <label for="password" class="label">Contraseña: </label>
                    <input type="password" class="form-control" id="password" name="password" required>
                <br>
                <div>
                    <input class="btn btn-success" type="submit" value="Iniciar sesión"/>
                    <a href="/register/" style="text-align: left;text-indent: 0%;color: red;">Registrate aqui</a>
                    <br>

                    <br>
                    
                </div>
            </form>
            <footer style="position: relative;bottom: 0;">
                <a href="#" id="recpass" onclick="alertlogin()">Recuperar contraseña</a>
            </footer>
        </div>
    </div>
    {% include 'common/scripts.html' %}
    <script>
        function alertlogin(){
        Swal.fire({
                title: 'Olvide mi contraseña',
                html: `<input type="text" id="correo" class="swal2-input" placeholder="Correo">`,
                confirmButtonText: 'Enviar',
                focusConfirm: false,
                preConfirm: () => {
                    const login = Swal.getPopup().querySelector('#correo').value
                    if (!login) {
                        Swal.showValidationMessage(`Porfavor ingrese su correo`)
                    }
                    return { login: login}
                }
            }).then((result) => {
                Swal.fire(`
    Login: ${result.value.login}
    Password: ${result.value.password}
  `.trim())
            })
        }
    </script>
</body>
</html>