<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
    {% include 'common/head.html' %}
    
    <style>
        body {
            background-image:url({% static 'img/stringio.jpg' %});
            background-size: cover;
            height: 100%;
            overflow: hidden;
            padding: 0;
            margin: 0;
        }

           
    </style>
</head>
<body>
    <div id="container-center">

        <div id="caja" class="form-group">
            <h1 style="font-size: 32px; text-align: left;">Registro</h1>
            {% if error %}
            <div style="background-color: tomato; color: white; border-radius: 10px; margin-bottom: 1rem;">
                <p class="text-center p-1 m-1">Las credenciales ingresadas no son correctas</p>
            </div>
            {% endif %}
            <form action='/login/' method="POST">
                {% csrf_token %}
                <label for="correo" class="label">Correo electrónico:</label>
                <input type="text" class="form-control" id="correo" name="correo" required>
                <br>
                
                
                <div>
                    <a href="/login/" id="recpass"style="text-align: left;text-indent: 0%;color: red; display:inline; margin-right:5px">
                        <h5 style="display: inline;">Volver</h5></a>
                    <button class="btn btn-success" onclick="alertregister()">Registrarse</button>
                </div>
            </form>
        </div>
    </div>
    {% include 'common/scripts.html' %}
    <script>
        function alertregister(){
        Swal.fire({
                title: 'Creacion de cuenta',
                html: `<input type="text" id="login" class="swal2-input" placeholder="Nombre">
  <input type="password" id="password" class="swal2-input" placeholder="Contraseña">`,
                confirmButtonText: 'Confirmar',
                focusConfirm: false,
                preConfirm: () => {
                    const login = Swal.getPopup().querySelector('#login').value
                    const password = Swal.getPopup().querySelector('#password').value
                    if (!login || !password) {
                        Swal.showValidationMessage(`Please enter login and password`)
                    }
                    return { login: login, password: password }
                }
            }).then((result) => {
                Swal.fire(`
    Login: ${result.value.login}
    Password: ${result.value.password}
  `.trim())
            })
        }
    </script>
</body>
</html>