{% load static %}
<footer>
    <div class="wrap">
        <div class="bicolor">
            <span class="azul"></span>
            <span class="rojo"></span>
        </div>
        <div class="bottom">
            <div class="left">
                <span>Duoc Uc Sede Maipu - Dirección: <br>Av. Esquina Blanca 501, Maipú. - Chile - Teléfono: (02) 225606900</span>
            </div>
            <nav>
                <ul>
                    <li>
                        
                        <a href="https://twitter.com/DuocUC"><img src="{% static 'img/social/twitter.png' %}" alt="twitter logo" class="iconsocial"></a>
                    </li>
                    <li>
                        
                        <a href="https://www.facebook.com/DuocUC/"><img src="{% static 'img/social/facebook.png' %}" alt="facebook logo" class="iconsocial"></a>
                    </li>
                    <li>
                        
                        <a href="https://www.instagram.com/duoc_maipu/"><img src="{% static 'img/social/instagram.png' %}" alt="instagram logo" class="iconsocial"></a>
                    </li>
                </ul>
            </nav>
            <div class="clearfix"></div>
            <div class="bicolor">
                <span class="azul"></span>
                <span class="rojo"></span>
            </div>
        </div>
    </div>
</footer>