#container-center{
    background-color: transparent;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    flex-direction: column;
    justify-content: center;
}
#caja{
    background-color:#3D2C00;
    opacity: 0.94;
    justify-self: center;
    margin: auto;
    padding: 7%;
    color: white    ;
    text-indent: 100px;
    text-align: right;
    border-radius: 6px;
}
#botoncito{
    background-color:#E3A300 ;
    color: white;
}

#recpass{
    text-decoration:underline;
    color: white;
  }


.bbox{
    display: block;
    padding: 0 0 10px 0 ;
    background-color: gray;
    

}

.box{
    background-color:transparent;
    align-items: center;
    display: flex;
    width: 100%;
    padding: 0;
    margin:  0;
    flex-direction: column;
    justify-content: center;
}
.table-duoc{
    background-color: rgba(255, 184, 0, 1);;
}

.table-descri tr{
    background-color: lightgray;
}
#comentario_re{
    width: 100%;
    resize: none;
}



